<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <title>Set New Password</title> 
    <!-- Required meta tags --> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <!-- Optional JavaScript --> 
    <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    {% load static %} 
    <style> 
        body { 
            background-image: url('{% static "images/login.jpg" %}'); 
            background-size: cover; 
        } 
        h2 { 
            font-family: 'Times New Roman', Times, serif; 
        }
        .reset-form {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
        }
    </style> 
</head> 
 
<body style="margin-top: 150px;"> 
    <h1 class="text-center mb-4">Set New Password</h1> 
    <div class="row"> 
        <div class="col"></div> 
        <div class="col-md-6 col-lg-4"> 
            <div class="reset-form">
                {% if validlink %}
                    <p class="mb-4">Please enter your new password twice so we can verify you typed it in correctly.</p>
                    
                    <form action="" method="post">  
                        {% csrf_token %} 
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <div class="form-group">
                            <label for="id_new_password1">New Password:</label>
                            <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="id_new_password2">Confirm Password:</label>
                            <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                        </div>
                        
                        <div class="text-center mt-4"> 
                            <input class="btn btn-primary" type="submit" value="Change My Password" style="padding: 10px 40px;"> 
                        </div>
                    </form>
                {% else %}
                    <div class="alert alert-danger">
                        <p>The password reset link was invalid, possibly because it has already been used.</p>
                        <p>Please request a new password reset.</p>
                    </div>
                    <div class="text-center mt-3">
                        <a href="{% url 'password_reset' %}" class="btn btn-primary">Request New Reset Link</a>
                    </div>
                {% endif %}
            </div>
        </div> 
        <div class="col"></div> 
    </div>
</body> 
</html>